<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="https://ipfs.io/ipfs/QmbawBvMTtHvBeSJWm2bLA6mc1u5fSZR2QZ3zsbhLBvmGw?filename=tailwind.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="sm:min-h-screen sm:bg-gray-100 flex flex-col justify-center sm:py-12">
			<div class="relative py-2 sm:max-w-xl sm:mx-auto">
				<div class="relative px-5 pt-44 pb-96 bg-white sm:shadow-lg sm:rounded-3xl sm:p-20">
					<div class="max-w-md mx-auto">
						{% block content %}
						{% endblock %}
					</div>
    				</div>
  			</div>
			{% block footer %}
			<div class="sm:pt-10 max-w-xl mx-auto text-purple-600">
				<a href="https://codeberg.org/uonel/otori">built with otori</a>
  			</div>
			{% endblock %}
		</div>
	</body>
</html>
