{% extends "base.html" %}
{% block content %}
<div class="flex justify-between"> 
	{% if client and client.logo %}
	<img src="https://u1l.de/img/150x150,sc/{{ client.logo[0].value }}" class="mx-auto p-1 border-4 border-purple-300 drop-shadow-xl w-24 h-24 rounded-full bg-white inline" />
	{% endif %}{% if client and client.logo and me["photo"][0] %}
	<div class="w-24 h-2 m-11 bg-purple-300 rounded-full mx-aut text-center drop-shadow-xl" style="min-width: 1rem"></div>
	{% endif %}{% if me.photo[0] %}
	<img src="https://u1l.de/img/150x150,sc/{{ me.photo[0] }}" class="p-1 mx-auto border-4 border-purple-300 rounded-full w-24 h-24 inline object-right bg-white drop-shadow-xl" />
	{% endif %}
        </div>
	<h1 class="text-4xl pt-8 font-bold text-center">Login to {{ client.name[0] }} as {{ me.name [0]}}</h1>
        <form class="container mx-auto p-5" method="post">
          <label for="password">Passwort</label><input name="password" type="password" class="focus:border-purple-500 focus:ring focus:ring-opacity-10 focus:ring-purple-600 rounded w-full"> 
          <input class="w-full rounded-md p-2 mt-2 border-2 bg-purple-300" type="submit" value="Login">
	  {{ csrf_snippet|safe }}
        </form>
{% endblock %}
