{% extends "base.html" %}
{% block content %}
<div class="flex justify-between"> 
	{% if client and client.logo %}
	<img src="https://u1l.de/img/150x150,sc/{{ client.logo[0].value }}" class="mx-auto p-1 border-4 border-purple-300 drop-shadow-xl w-24 h-24 rounded-full bg-white inline" />
	{% endif %}
        </div>
	<h1 class="text-4xl pt-8 font-bold text-center">Login to {{ client.name[0] }}</h1>
	<form class="container mx-auto p-5">
          <label for="password">Username</label><input name="me" type="url" class="focus:border-purple-500 focus:ring focus:ring-opacity-10 focus:ring-purple-600 rounded w-full"> 
          <input class="w-full rounded-md p-2 mt-2 border-2 bg-purple-300" type="submit" value="Login">
	  {% for key, value in form.items() %}
	  <input name="{{key}}" value="{{value[0]}}" hidden>
	  {% endfor %}
        </form>
{% endblock %}
