{% extends "base.html" %}
{% block content %}
<div class="flex justify-between"> 
	{% if me.photo %}
	<img src="https://u1l.de/img/150x150,sc/{{ me.photo[0] }}" class="p-1 mx-auto border-4 border-purple-300 rounded-full w-24 h-24 inline object-right bg-white drop-shadow-xl" />
	{% endif %}
        </div>
	<h1 class="text-4xl pt-8 font-bold text-center">Signup as {{ me.name [0]}}</h1>
        <form class="container mx-auto p-5" method="post">
          <label for="new_password">Passwort</label><input id="pw1" name="new_password" type="password" class="focus:border-purple-500 focus:ring focus:ring-opacity-10 focus:ring-purple-600 rounded w-full"> 
          <label>Passwort wiederholen</label><input onkeyup="validate()" id="pw2" type="password" class="focus:border-purple-500 focus:ring focus:ring-opacity-10 focus:ring-purple-600 rounded w-full"> 
          <input id="sb" class="disabled:bg-opacity-25 w-full rounded-md p-2 mt-2 border-2 bg-purple-300" type="submit" value="Login" disabled>
	  {{ csrf_snippet|safe }}
        </form>
			<script>
				var validate=function(){if (document.getElementById("pw1").value==document.getElementById("pw2").value){document.getElementById("sb").disabled=false;}else{document.getElementById("sb").disabled=true;}}
			</script>
{% endblock %}
