{% extends "base.html" %}
{% block content %}
<div class="flex justify-between"> 
	{% if me.photo[0] %}
	<img src="https://u1l.de/img/150x150,sc/{{ me.photo[0] }}" class="p-1 mx-auto border-4 border-purple-300 rounded-full w-24 h-24 inline object-right bg-white drop-shadow-xl" />
	{% endif %}
        </div>
	<h1 class="text-4xl pt-8 font-bold text-center">Signup as {{ me.name [0]}}</h1>
	Please put this snippet on your homepage:
	<div class="font-mono overflow-x-auto">
	&lt;link rel="otori_pwd" title="{{ enc_pwd }}"&gt;
	</div>
        <form class="container mx-auto p-5" method="post">
	  {{ csrf_snippet|safe }}
          <input class="w-full rounded-md p-2 mt-2 border-2 bg-purple-300" type="submit" value="Continue">
        </form>
{% endblock %}
